:root {
    /*fonts*/
    --xxl-font-size: 4rem;
    --xl-font-size: 2rem;
    --s-font-size: 0.8rem;


    /*colors*/
    --base-gradient: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
    --primary: #00539a;
    --black: #181818;

    /*offsets*/
    --base-app-margin: 32px;
    --base-app-space: 16px;

    --base-padding: 8px;


    --base-radius: 8px;

    --cursore-z-index: 1000;
    --base-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


