.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    transition: transform 0.3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow,
.grow-small {
    transform: scale(4);
    background: white;
    mix-blend-mode: difference;
    border: none;
}

.grow-small {
    transform: scale(2);
}

/* classes for custom cursor:
'cursor-scale' - for big size cursor
'cursor-scale small' - for middle size cursor
*/