@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import "./base.css";
@import "./cursor.css";
@import "animation.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none; /* hide mouse layout*/
}

body {
    position: absolute;

    width: 100%;
    height: 100%;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.content {
    position: absolute;
    pointer-events: none;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
    mix-blend-mode: color-dodge;
    z-index: 100
}

.icon-wrapper {
    width: 20px;
    height: 20px;

    border: 1px solid white;
    border-radius: 50%;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    mix-blend-mode: darken;

}

.icon-wrapper svg {
    width: 12px;
    height: 12px;
}

.cursor-icon {
    position: absolute;
    top: -4px;
    right: -4px;
    border: 1px solid var(--primary);
    animation: zoom-in-zoom-out 1s infinite;
}