@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import "./base.css";
@import "./cursor.css";
@import "./animation.css";

body {
    font-family: 'Raleway', sans-serif;
    width: calc(100vw - 56px);
}

.background {
    background-image: var(--base-bg);
}

.default-position {
    transform: translate(-100vw);
}